<footer class="footer">

        <div class="footer-top-image">
            <img src="https://images.unsplash.com/photo-1578575437130-527eed3abbec?q=80&w=1600&auto=format&fit=crop"
                alt="">
        </div>
        <div class="footer-main">

            <div class="container">

                <div class="footer-wrapper">

                    <div class="footer-about">

                        <h2 class="logo">
                            <i class="ri-box-3-fill"></i>
                            TransitFlow
                        </h2>

                        <p>
                            Leverage agile frameworks to provide a robust synopsis for strategy
                            collaborative thinking to further the overall proposition.
                        </p>

                        <div class="footer-contact">

                            <div class="contact-box">
                                <img src="/assest/img/icon-1.png" alt="">

                                <div>
                                    <span>Email</span>
                                    <h5>contact@logistics.com</h5>
                                </div>
                            </div>

                            <div class="contact-box">
                                <img src="/assest/img/icon-2.png" alt="">

                                <div>
                                    <span>Call Us</span>
                                    <h5>(00) 112 365 489</h5>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="footer-links">

                        <h3>Pages</h3>

                        <ul>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="#">Our Team</a></li>
                            <li><a href="/project">Our Project</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>

                    </div>

                    <div class="footer-links">

                        <h3>Utility</h3>

                        <ul>
                            <li><a href="#">Style Guide</a></li>
                            <li><a href="#">Changelog</a></li>
                            <li><a href="#">Licenses</a></li>
                            <li><a href="#">Protected</a></li>
                            <li><a href="#">Not Found</a></li>
                        </ul>

                    </div>

                    <div class="footer-subscribe">

                        <h3>Subscribe</h3>

                        <form>
                            <input type="email" placeholder="Email here*">
                            <button type="submit">Send Now</button>
                        </form>

                        <div class="social-icons">
                            <a href="#"><i class="ri-linkedin-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </footer>
</body>

</html>
