<header class="top-header">
        <div class="container row between align-center">

            <div class="logo">
                <img src="/assest/img/logo.png" alt="">
            </div>

            <div class="header-info row">

                <div class="info-box row align-center">
                    <div class="icon-box">
                        <img src="/assest/img/icon.png" alt="">
                    </div>

                    <div>
                        <p>Mon - Sat 9.00 - 18.00</p>
                        <span>Sunday Closed</span>
                    </div>
                </div>

                <div class="info-box row align-center">
                    <div class="icon-box">
                        <img src="/assest/img/icon-1.png" alt="">
                    </div>

                    <div>
                        <p>Email</p>
                        <span>contact@logistics.com</span>
                    </div>
                </div>

                <div class="info-box row align-center">
                    <div class="icon-box">
                        <img src="/assest/img/icon-2.png" alt="">
                    </div>

                    <div>
                        <p>Call Us</p>
                        <span>(00) 112 365 489</span>
                    </div>
                </div>

            </div>

        </div>
    </header>

    <nav class="navbar">
        <div class="container row between align-center">

            <ul class="nav-links row">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services <i class="ri-arrow-down-s-line"></i></a></li>
                <li><a href="/project">Project</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>

            <div class="nav-right row align-center">

                <ul class="social-links row">
                    <li><i class="ri-instagram-line"></i></li>
                    <li><i class="ri-facebook-line"></i></li>
                    <li><i class="ri-twitter-line"></i></li>
                    <li><i class="ri-linkedin-line"></i></li>
                </ul>

                <button class="btn">Request Quote</button>

            </div>

        </div>
    </nav>
