<%- include("../partials/head", { title }) %>
<%- include("../partials/header") %>

<section class="plan-bg">
        <div class="container">

            <div class="hero-content">

                <p class="sub-title">
                    About us
                </p>

                <h1>
                    About Our Logistics
                </h1> 

            </div>

        </div>
    </section>
    
    <section class="team">
        <div class="container">
            <div class="team-heading">
                <span>The Transporters</span>
                <h2>Meet Expert Team</h2>
            </div>

            <div class="team-row">

                <div class="team-card">
                    <div class="team-img">
                        <img src="/assest/img/image.png" alt="">
                    </div>

                    <div class="team-content">
                        <div class="social-icon">
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </div>

                        <h3>Jessca Arow</h3>
                        <p>Designer</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="/assest/img/image-1.png" alt="">
                    </div>

                    <div class="team-content">
                        <div class="social-icon">
                            <a href="#"><i class="ri-linkedin-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </div>

                        <h3>Kathleen Smith</h3>
                        <p>Designer</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="/assest/img/image-2.png" alt="">
                    </div>

                    <div class="team-content">
                        <div class="social-icon">
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </div>

                        <h3>Rebecca Tylor</h3>
                        <p>Designer</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    
    <section class="testimonial-section">
        <div class="container">
            <div class="testimonial-top">
                <div>
                    <span class="sub-title">Testimonial</span>
                    <h2>What Our Customer Say</h2>
                </div>

                <div class="testimonial-btns">
                    <button><i class="ri-arrow-left-line"></i></button>
                    <button><i class="ri-arrow-right-line"></i></button>
                </div>
            </div>

            <div class="testimonial-wrapper">

                <div class="testimonial-card light-card">
                    <div class="client-info">
                        <img src="/assest/img/man1.png" alt="">

                        <div>
                            <h4>Kathleen Smith</h4>
                            <span>Fuel Company</span>
                        </div>
                    </div>

                    <div class="quote-icon">
                        <i class="ri-double-quotes-r"></i>
                    </div>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for
                        strategy foster collaborative thinking to further the overall
                        value proposition. Organically grow the holistic world view
                        of disruptive innovation via workplace diversity and
                        empowerment.
                    </p>

                    <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>

                <div class="testimonial-card dark-card">
                    <div class="client-info">
                        <img src="/assest/img/man2.jpg" alt="">

                        <div>
                            <h4>John Martin</h4>
                            <span>Restoration Company</span>
                        </div>
                    </div>

                    <div class="quote-icon">
                        <i class="ri-double-quotes-r"></i>
                    </div>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for
                        strategy foster collaborative thinking to further the overall
                        value proposition. Organically grow the holistic world view
                        of disruptive innovation via workplace diversity and
                        empowerment.
                    </p>

                    <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>

            </div>
        </div>
    </section>

<%- include("../partials/footer") %>
