<%- include("../partials/head", { title }) %>
<%- include("../partials/header") %>

<section class="hero">
        <div class="container">

            <div class="hero-content">

                <p class="sub-title">
                    Logistics & Supply Chain Solutions
                </p>

                <h1>
                    Your Gateway <br>
                    to any Destination <br>
                    in the World
                </h1>

                <p class="hero-text">
                    In augue ligula, feugiat ut nulla consequat.
                    Ut est lacus, molestie in arcu no, iaculis
                    vehicula ipsum.
                </p>

                <button class="hero-btn">
                    Explore More
                </button>

            </div>

        </div>
    </section>

    <section class="services-section container">

        <div class="left-content">
            <span>What We Do</span>

            <h2>
                Safe & Reliable
                Cargo Solutions
            </h2>
        </div>

        <div class="services-grid">

            <div class="service-box">
                <div class="service-icon">
                    <i class="ri-ship-line"></i>
                </div>

                <div class="service-text">
                    <h3>Sea Transport Services</h3>

                    <p>
                        Wherever your cargo is going, we
                        can arrange the shipment for you
                        and remain competitive with the
                        business market.
                    </p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="ri-store-2-line"></i>
                </div>

                <div class="service-text">
                    <h3>Warehousing Services</h3>

                    <p>
                        We have buildings that can provide
                        you with distribution, storage,
                        inventory management, order
                        fulfilment services.
                    </p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="ri-plane-line"></i>
                </div>

                <div class="service-text">
                    <h3>Air Freight Services</h3>

                    <p>
                        We're partners with airlines and
                        freight forwarders to offer seamless
                        air freight solutions to the clients all
                        over the world.
                    </p>
                </div>
            </div>

            <div class="service-box">
                <div class="service-icon">
                    <i class="ri-truck-line"></i>
                </div>

                <div class="service-text">
                    <h3>Local Shipping Services</h3>

                    <p>
                        We work close with strategic
                        partners to ensure our domestic
                        trucking offers clients everything
                        they need in their place.
                    </p>
                </div>
            </div>

        </div>

    </section>

    <section class="logistics-section">
        <div class="logistics-bg"></div>

        <div class="container">
            <div class="logistics-card">
                <div class="logistics-left">
                    <span class="small-title">Why Us</span>

                    <h2>
                        We provide full range global
                        logistics solution
                    </h2>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for
                        strategy foster collaborative thinking to further the overall
                        value proposition.
                    </p>

                    <p>
                        Organically grow the holistic world view of disruptive
                        innovation via workplace diversity and empowerment.
                    </p>

                    <div class="feature-item">
                        <div class="icon-box">
                            <i class="ri-box-3-line"></i>
                        </div>
                        <span>Delivery on Time</span>
                    </div>

                    <div class="feature-item">
                        <div class="icon-box">
                            <i class="ri-money-dollar-circle-line"></i>
                        </div>
                        <span>Optimized Travel Cost</span>
                    </div>
                </div>

                <div class="logistics-right">
                    <div class="big-image">
                        <img src="/assest/img/image-main.jpg" alt="">
                    </div>

                    <div class="small-image">
                        <img src="/assest/img/girl.png" alt="">
                    </div>
                </div>

                <div class="counter-wrapper">
                    <div class="counter-box align-center between">
                        <h3>1294</h3>
                        <span>Delivered Packages</span>
                    </div>

                    <div class="counter-box">
                        <h3>3594</h3>
                        <span>Satisfied Clients</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="transport-section">
        <div class="container">
            <div class="section-title">
                <h2>Transporting Across The World</h2>
            </div>

            <div class="transport-wrapper">

                <div class="transport-card">
                    <img src="/assest/img/1.png" alt="">
                    <div class="overlay">
                        <h3>Liquid Transportation</h3>
                        <p>Premium Tankers</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/2.png" alt="">
                    <div class="overlay">
                        <h3>Packaging Solutions</h3>
                        <p>Warehouse Management</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/3.png" alt="">
                    <div class="overlay">
                        <h3>Contract Logistics</h3>
                        <p>Road Transportation</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/4.png" alt="">
                    <div class="overlay">
                        <h3>Warehouse & Distribution</h3>
                        <p>Large Warehouse</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/5.png" alt="">
                    <div class="overlay">
                        <h3>Specialized Transport</h3>
                        <p>Ocean Transports</p>
                    </div>
                </div>

            </div>

            <div class="transport-btn">
                <a href="#">More Work</a>
            </div>
        </div>
    </section>

    <section class="testimonial-section">
        <div class="container">
            <div class="testimonial-top">
                <div>
                    <span class="sub-title">Testimonial</span>
                    <h2>What Our Customer Say</h2>
                </div>

                <div class="testimonial-btns">
                    <button><i class="ri-arrow-left-line"></i></button>
                    <button><i class="ri-arrow-right-line"></i></button>
                </div>
            </div>

            <div class="testimonial-wrapper">

                <div class="testimonial-card light-card">
                    <div class="client-info">
                        <img src="/assest/img/man1.png" alt="">

                        <div>
                            <h4>Kathleen Smith</h4>
                            <span>Fuel Company</span>
                        </div>
                    </div>

                    <div class="quote-icon">
                        <i class="ri-double-quotes-r"></i>
                    </div>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for
                        strategy foster collaborative thinking to further the overall
                        value proposition. Organically grow the holistic world view
                        of disruptive innovation via workplace diversity and
                        empowerment.
                    </p>

                    <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>

                <div class="testimonial-card dark-card">
                    <div class="client-info">
                        <img src="/assest/img/man2.jpg" alt="">

                        <div>
                            <h4>John Martin</h4>
                            <span>Restoration Company</span>
                        </div>
                    </div>

                    <div class="quote-icon">
                        <i class="ri-double-quotes-r"></i>
                    </div>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for
                        strategy foster collaborative thinking to further the overall
                        value proposition. Organically grow the holistic world view
                        of disruptive innovation via workplace diversity and
                        empowerment.
                    </p>

                    <div class="stars">
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                        <i class="ri-star-fill"></i>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="why-choose">
        <div class="container">
            <div class="why-choose-wrapper">

                <div class="why-left">
                    <img src="/assest/img/plan.jpg" alt="plane">

                    <div class="moving-box">
                        <div class="moving-icon">
                            <i class="ri-flight-takeoff-line"></i>
                        </div>

                        <div class="moving-content">
                            <h4>Moving your products <br> across borders</h4>
                        </div>
                    </div>
                </div>

                <div class="why-right">
                    <span class="sub-title">Why Choose</span>

                    <h2>
                        We create opportunity to <br>
                        reach potential
                    </h2>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for
                        strategy foster collaborative thinking to further the overall
                        value proposition.
                    </p>

                    <div class="features">
                        <div class="feature-item">
                            <div class="icon">
                                <i class="ri-box-3-line"></i>
                            </div>
                            <span>Safe Package</span>
                        </div>

                        <div class="feature-item">
                            <div class="icon">
                                <i class="ri-ship-line"></i>
                            </div>
                            <span>Ship Everywhere</span>
                        </div>

                        <div class="feature-item">
                            <div class="icon">
                                <i class="ri-global-line"></i>
                            </div>
                            <span>Global Tracking</span>
                        </div>

                        <div class="feature-item">
                            <div class="icon">
                                <i class="ri-customer-service-2-line"></i>
                            </div>
                            <span>24/7 Support</span>
                        </div>

                        <div class="feature-item">
                            <div class="icon">
                                <i class="ri-time-line"></i>
                            </div>
                            <span>In Time Delivery</span>
                        </div>

                        <div class="feature-item">
                            <div class="icon">
                                <i class="ri-money-dollar-circle-line"></i>
                            </div>
                            <span>Transparant Pricing</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="team">
        <div class="container">
            <div class="team-heading">
                <span>The Transporters</span>
                <h2>Meet Expert Team</h2>
            </div>

            <div class="team-row">

                <div class="team-card">
                    <div class="team-img">
                        <img src="/assest/img/image.png" alt="">
                    </div>

                    <div class="team-content">
                        <div class="social-icon">
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </div>

                        <h3>Jessca Arow</h3>
                        <p>Designer</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="/assest/img/image-1.png" alt="">
                    </div>

                    <div class="team-content">
                        <div class="social-icon">
                            <a href="#"><i class="ri-linkedin-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </div>

                        <h3>Kathleen Smith</h3>
                        <p>Designer</p>
                    </div>
                </div>

                <div class="team-card">
                    <div class="team-img">
                        <img src="/assest/img/image-2.png" alt="">
                    </div>

                    <div class="team-content">
                        <div class="social-icon">
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-line"></i></a>
                        </div>

                        <h3>Rebecca Tylor</h3>
                        <p>Designer</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="contact-section">

        <div class="container">

            <div class="contact-wrapper">

                <div class="contact-left">

                    <span class="contact-tag">Contact</span>

                    <h1>Get in touch with us</h1>

                    <p>
                        Leverage agile frameworks to provide a robust synopsis for strategy
                        foster collaborative thinking to further the overall value.
                    </p>

                    <div class="contact-info">

                        <div class="info-box">
                            <div class="icon">
                                <img src="/assest/img/icon-1.png" alt="">
                            </div>

                            <div class="info-text">
                                <h4>Email</h4>
                                <span>contact@logistics.com</span>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="icon">
                                <img src="/assest/img/icon-2.png" alt="">
                            </div>

                            <div class="info-text">
                                <h4>Call Us</h4>
                                <span>(00) 112 365 489</span>
                            </div>
                        </div>

                        <div class="info-box">
                            <div class="icon">
                                <img src="/assest/img/icon.png" alt="">
                            </div>

                            <div class="info-text">
                                <h4>Mon - Sat 9.00 - 18.00</h4>
                                <span>Sunday Closed</span>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="contact-right">

                    <form>

                        <div class="form-row">

                            <div class="input-group">
                                <input type="text" placeholder="Your name*">
                            </div>

                            <div class="input-group">
                                <input type="email" placeholder="Email*">
                            </div>

                        </div>

                        <div class="form-row">

                            <div class="input-group">
                                <input type="text" placeholder="Phone Number*">
                            </div>

                            <div class="input-group">
                                <input type="text" placeholder="City*">
                            </div>

                        </div>

                        <div class="input-group">
                            <textarea placeholder="Your Message"></textarea>
                        </div>

                        <button type="submit" class="submit-btn">
                            Submit Message
                        </button>

                    </form>

                </div>

            </div>

            <div class="brand-images">

                <img src="/assest/img/gallery-1.png" alt="">

                <img src="/assest/img/gallery-2.png" alt="">

                <img src="/assest/img/gallery-3.png" alt="">

                <img src="/assest/img/gallery-4.png" alt="">

            </div>

        </div>

    </section>

    <section class="blog-section">

        <div class="container">

            <div class="section-title">
                <span class="tag">Our Blog</span>
                <h2>Our Latest News</h2>
            </div>

            <div class="blog-item">

                <div class="blog-image">
                    <img src="/assest/img/blog-1.png" alt="">
                </div>

                <div class="blog-date">
                    <i class="fa-regular fa-calendar"></i>
                    <h3>08</h3>
                    <span>September</span>
                </div>

                <div class="blog-content">
                    <h3>Inland freight a worthy solution for your business</h3>

                    <p>
                        We are dedicated in creating added value for our customers by
                        implementing modern technology in our work.
                    </p>

                    <ul>
                        <li>Urgent transport solutions</li>
                        <li>Reliable & experienced staffs</li>
                        <li>Urgent transport solutions</li>
                        <li>Reliable & experienced staffs</li>
                    </ul>
                </div>

            </div>

            <div class="blog-item">

                <div class="blog-image image-overlay">

                    <img src="/assest/img/blog-2.png" alt="">

                    <div class="overlay">
                        <a href="#">Read More</a>
                    </div>

                </div>

                <div class="blog-date">
                    <i class="fa-regular fa-calendar"></i>
                    <h3>12</h3>
                    <span>September</span>
                </div>

                <div class="blog-content">

                    <h3 class="yellow">
                        How technology can help redraw the supply chain map
                    </h3>

                    <p>
                        We are dedicated in creating added value for our customers by
                        implementing modern technology in our work.
                    </p>

                    <ul>
                        <li>Urgent transport solutions</li>
                        <li>Reliable & experienced staffs</li>
                        <li>Urgent transport solutions</li>
                        <li>Reliable & experienced staffs</li>
                    </ul>

                </div>

            </div>

            <div class="blog-item">

                <div class="blog-image">
                    <img src="/assest/img/blog-3.png" alt="">
                </div>

                <div class="blog-date">
                    <i class="fa-regular fa-calendar"></i>
                    <h3>25</h3>
                    <span>September</span>
                </div>

                <div class="blog-content">

                    <h3>Five things you should have ready for your broker</h3>

                    <p>
                        We are dedicated in creating added value for our customers by
                        implementing modern technology in our work.
                    </p>

                    <ul>
                        <li>Urgent transport solutions</li>
                        <li>Reliable & experienced staffs</li>
                        <li>Urgent transport solutions</li>
                        <li>Reliable & experienced staffs</li>
                    </ul>

                </div>

            </div>

            <div class="blog-btn">
                <a href="#">More Blog</a>
            </div>

        </div>

    </section>

<%- include("../partials/footer") %>
