<%- include("../partials/head", { title }) %>
<%- include("../partials/header") %>

<section class="transport-section">
        <div class="container">
            <div class="section-title">
                <h2>Transporting Across The World</h2>
            </div>

            <div class="transport-wrapper">

                <div class="transport-card">
                    <img src="/assest/img/1.png" alt="">
                    <div class="overlay">
                        <h3>Liquid Transportation</h3>
                        <p>Premium Tankers</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/2.png" alt="">
                    <div class="overlay">
                        <h3>Packaging Solutions</h3>
                        <p>Warehouse Management</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/3.png" alt="">
                    <div class="overlay">
                        <h3>Contract Logistics</h3>
                        <p>Road Transportation</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/4.png" alt="">
                    <div class="overlay">
                        <h3>Warehouse & Distribution</h3>
                        <p>Large Warehouse</p>
                    </div>
                </div>

                <div class="transport-card">
                    <img src="/assest/img/5.png" alt="">
                    <div class="overlay">
                        <h3>Specialized Transport</h3>
                        <p>Ocean Transports</p>
                    </div>
                </div>

            </div>

            <div class="transport-btn">
                <a href="#">More Work</a>
            </div>
        </div>
    </section>

<%- include("../partials/footer") %>
